<div class="container">
  <div class="jumbotron">
    <form name="profile-create" ng-submit="addProfile(profile)")>

      <!-- <div class="error" ng-if='shortener.shortenInput.$invalid'>Please enter a valid URL</div> -->
      <h2>Sign Up!</h2>
      <h3>Create an Profile</h3>

      <input class="form-control" type='text' name='firstname' ng-model='profile.firstname' placeholder="Your first name" required>
      <br>
      <input class="form-control" type='text' name='lastname' ng-model='profile.lastname' placeholder="Your last name" required>
      <br>
      <input class="form-control" type='text' name='password' ng-model='profile.password' placeholder="New password" required>
      <br>
      <p class="lead">Preferences:</p>

      <p>I'll eat anything: <input type='checkbox' value='all' name=checked checked ng-model='profile.all'></p>      
      <p>I'm vegetarian: <input type='checkbox' value='veg' ng-model='profile.veg'></p>    
      <p>I am gluten-free: <input type='checkbox' value='glut' ng-model='profile.glut'></p>

      <button class="btn btn-primary" ng-disabled ='profile-create.$invalid'>Submit</button>

    </form>

  </div>
  <div class="jumbotron center-block" ng-if='loggedIn'>
    <h3>Congrats! You are logged in! Want to:</h3>
    <br>
    <div class="center-block">

      <a href='#/cook' class="btn btn-block btn-lg btn-primary">Cook</a> 
      <a href="#/eat" class="btn btn-block btn-lg btn-info">Eat</a>
    </div> 
  </div>
    <!-- <div ng-if='sent'>
      success msg
    </div> -->
</div>